body {
  background-color: #617897;
  color: #eee;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.pano {
  height: 85%;
  max-height: 85%;
}

#spin {
  height: 200px;
    margin-left: 50px;
    margin-top: 60px;
}